<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newlecture.web.dao.NoticeDao">
   <resultMap id="noticeMap" type="com.newlecture.web.entity.Notice">
    	<result column="WRITER_ID" property="writerId"/>
   </resultMap>

   <select id="getList" resultType="com.newlecture.web.entity.Notice">
      select 
      * 
      from notice
   </select>
  

</mapper>